.app {
	text-align: center;
}

.screen {
	font-size: 40px;
	border: 1px solid black;
}

.resultScreen {
	color: blue;
}

.buttons {
	display: flex;
}

.rightGroup {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}

.leftGroup {
	width: 240px;
}

.button {
	width: 60px;
	height: 60px;
	margin: 10px;
	font-size: 30px;
}
